
#badecoToolAdmin {
     color: #777777;
     margin: 8px;
     font-weight: bold;
     line-height: 50px;
     height: 50%;
    text-align: center;
    margin-left: 50px
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 5px !important;
}
.navbar-header {
    line-height: 50%;
    width: 414px;
    max-width: 100%;
    height: auto;
}
.navbar-right {
      line-height: 50px;
}

@media only screen and (min-width: 170px) and (max-width: 446px) {
    body {
        background-color: red !important;
    }
    .navbar-header {
        margin-left: 0 !important;
    }
    img {
        max-width: 47%;
        height: auto;
        margin: 2px !important;
        margin-top: 5px !important;
    }
    #badecoToolAdmin {
        margin: 8px;
        line-height: 10px;
        height: 50%;
        text-align: center;
        font-size: 18px !important;
}
   .form-group button {
       left: 30px !important;
   }

}
@media only screen and (min-width: 447px) and (max-width: 865px) {
    body {
        background-color: purple;
    }
     .navbar-header {
        margin-left: 0 !important;
    }
     #badecoToolAdmin {
        margin: 8px;
        line-height: 20px;
        height: 50%;
        text-align: center;
        font-size: 18px !important;
}
   
}