body {
     background-color: #e0e1e2 !important;
}
h4 {
    color: #777777;
}
thead {
    font-weight: bold;
    color: #777777;
}
.btnsDiv {
    margin: 8px;
}
.custom-search-form {
    margin: 8px;
}
#badecoToolAdmin {
    color: #777777;
    font-size: 17px;
    margin: 8px;
    font-weight: bold;
}
.logo {
    margin: 8px;
    margin-top: 10px;
}
.xBtn, .iBtn {
    width: 32px;
    height: 32px;
    font-size: 20px;
    padding: 0 0 0 0;
}
input {
    width: auto;
}
.popover{
    max-width: 100%;
}
.popover-content {
    margin-right: -75px;
    padding: 8px 8px 2px 6px;
}
.commentFormGroup {
    margin-bottom: 5px;
}
#submitBtn {
    margin-top: 10px;
}
#dataTables-example-div {
    padding-left: 1.7em !important;
}
@media only screen and (max-width: 768px) {
    
    input{
        margin: 10px;
    }
    .input-group .form-control {
    margin: 0px !important;
}
    .form-group {
        margin-bottom: 0px !important;
        width: 98%;
        margin-left: 5px;
    }
    .input-group {
        /*width: 99%;*/

    }
    #jobSize, #date {
        position: relative;
        left: 10px;
    }
    .input-group-addon {
    min-width:50px;
    text-align:center;
        position: relative;
        left: 10px;
} 
}
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
    /*table th:nth-child(1), td:nth-child(1),th:nth-child(4), td:nth-child(4) {
  display: none;
}*/

     .xBtn, .iBtn {
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 0 0 0 0;
}
     body {
         background-color: red;
     }
}